@font-face {
  font-family: "iconfont"; /* Project id 4741017 */
  src: url('iconfont.woff2?t=1740718079861') format('woff2'),
       url('iconfont.woff?t=1740718079861') format('woff'),
       url('iconfont.ttf?t=1740718079861') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shoucang:before {
  content: "\e612";
}

.icon-pinlun:before {
  content: "\e605";
}

.icon-dianzan:before {
  content: "\e621";
}

.icon-douyin-fenxiang:before {
  content: "\e622";
}

.icon-tishi:before {
  content: "\e643";
}

.icon-weihexiao:before {
  content: "\e61a";
}

.icon-yihexiao:before {
  content: "\ff0e";
}

.icon-fuzhi:before {
  content: "\e656";
}

.icon-chenggongtishi:before {
  content: "\e610";
}

.icon-yiwen:before {
  content: "\e61e";
}

.icon-lipin:before {
  content: "\f91c";
}

.icon-goods:before {
  content: "\fc92";
}

.icon-shouhuodizhi:before {
  content: "\ff0d";
}

.icon-rili:before {
  content: "\e604";
}

.icon-up-zhankai:before {
  content: "\e60d";
}

.icon-up-shouqi:before {
  content: "\e60e";
}

.icon-tinggeshiqu40x40:before {
  content: "\e603";
}

.icon-weixin:before {
  content: "\e602";
}

.icon-tinggeliang:before {
  content: "\e641";
}

.icon-yinle:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e6b1";
}

.icon-wentifankui:before {
  content: "\e60c";
}

.icon-QQ:before {
  content: "\e667";
}

.icon-kefu:before {
  content: "\e62e";
}

.icon-douyin:before {
  content: "\e601";
}

.icon-lianxiwomen:before {
  content: "\e640";
}

.icon-doubao:before {
  content: "\e646";
}

.icon-kaixin:before {
  content: "\e653";
}

.icon-bukaixin:before {
  content: "\e6c4";
}

.icon-keai:before {
  content: "\e6c5";
}

